<!DOCTYPE HTML>
<html>
	<head>
		{{#with head}}
		<title>{{titulo}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/customized.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		{{#each new_css}}
			<link rel="stylesheet" href=".{{href}}"/>
		{{/each}}
		{{/with}}
	</head>
	<body class="is-preload">
		{{#with sidebar}}
		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<a id="logo" href="" title="GDSTMP"></a>
					<nav>
						<ul>
							<li><a href="#inicio">{{marcador_1}}</a></li>
							<li><a href="#quien">{{marcador_3}}</a></li>
							<li><a href="#servicios">{{marcador_2}}</a></li>
							<li><a href="#contacto">{{marcador_4}}</a></li>
						</ul>
					</nav>
				</div>
			</section>
		{{/with}}
		<!-- Wrapper -->
			<div id="wrapper">
				{{#with inicio}}
				<!-- Inicio -->
					<section id="inicio" class="wrapper style1 fullscreen fade-up">
						<video autoplay muted loop playsinline class="background-video">
							<source src="/assets/img/VideoPrueba.mov" type="video/mp4">
						</video>
						<div class="inner">
							<h1 class="logo_font">{{titulo}}</h1>
							<h6>{{descripcion}}</h6>
							<ul class="actions">
								<li><a href="#quien" class="button scrolly">¿Que haceis?</a></li>
								<li><a href="/wp" class="button scrolly">Demo</a></li>
							</ul>
						</div>
					</section>
				{{/with}}

				<!-- Quienes Somos -->
				{{#with quien}}
					<section id="quien" class="wrapper style3 fade-up">
						<div class="inner">
							<h2 class="logo_font">{{titulo_Quien_Somos}}</h2>
							<p>{{descripcion}}</p>
							<div class="features">
								<section>
									<span class="icon major fa-code"></span>
									<h3>{{code}}</h3> <!--Everything its build along your business-->
									<p>{{des_code}}</p>
								</section>
								<section>
									<span class="icon major fa-lock"></span>
									<h3>{{confidencial}}</h3> <!--We offer a confident work-->
									<p>{{des_confidencial}}</p>
								</section>
								<section>
									<span class="icon major fa-cog"></span>
									<h3>{{config}}</h3> <!-- Templates ready to use and modify-->
									<p>{{des_config}}</p>
								</section>
								<section>
									<span class="icon major fa-desktop"></span>
									<h3>{{escritorio}}</h3> <!--Traking of your web page, social media, never was that easy-->
									<p>{{des_escritorio}}</p>
								</section>
								<section>
									<span class="icon major fa-chain"></span>
									<h3>{{cadena}}</h3><!--easier to gain customers-->
									<p>{{des_cadena}}</p>
								</section>
								<section>
									<span class="icon major fa-diamond"></span>
									<h3>{{diamante}}</h3><!--perfect coorperation-->
									<p>{{des_diamante}}</p>
								</section>
							</div>
							<ul class="actions">
								<li><a href="#servicios" class="button scrolly">{{more_info}}</a></li>
							</ul>
						</div>
					</section>
				{{/with}}
				<!-- Servicios -->
				{{#with servicios}}
					<section id="servicios" class="wrapper style2 spotlights">
						<section class="">
							<a class="image"><img class="image_service" src="/assets/img/Silver.png" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2>{{plata}}</h2>
									{{#each des_plata}}
										<span class="list"><input type="radio" checked disabled/><label/>{{describe}}</span><br>
									{{/each}}
									<ul class="actions">
										<li>
											<a class="button toggle">Complementos</a>
											<div id="box_service">
												<div>
													<h6>Complementos</h6>
													{{#each extra_plata}}
														<span class="list"><input type="radio" checked disabled/><label/>{{extra}}</span><br>
													{{/each}}
												</div>
											</div>
										</li>
										
									</ul>
									
								</div>
							</div>
						</section>
						<section class="">
							<a class="image"><img class="image_service" src="/assets/img/Gold.png" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2>{{oro}}</h2>
									{{#each des_oro}}
										<span class="list"><input type="radio" checked disabled/><label/>{{describe}}</span><br>
									{{/each}}
									<ul class="actions">
										<li>
											<a class="button toggle">Complementos</a>
											<div id="box_service">
												<div>
													<h6>{{nombre_extras}}</h6>
													{{#each extra_oro}}
															<span class="list"><input type="radio" checked disabled/><label/>{{extra}}</span><br>
													{{/each}}
												</div>
											</div>
										</li>
									</ul>
									
								</div>
							</div>
						</section>
						<section class="">
							<a class="image"><img class="image_service" src="/assets/img/Platinum.png" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2>{{platino}}</h2>
									{{#each des_platino}}
										<span class="list"><input type="radio" checked disabled/><label/>{{describe}}</span><br>
									{{/each}}
									<ul class="actions">
										<li>
											<a class="button toggle">Complementos</a>
											<div id="box_service">
													<div>
														<h6>{{nombre_extras}}</h6>
														{{#each extra_platino}}
																<span class="list"><input type="radio" checked disabled/><label/>{{extra}}</span><br>
														{{/each}}
													</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</section>
					</section>
				{{/with}}
				

				<!-- Contacto -->
				{{#with contacto}}
					<section id="contacto" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>{{contacto}}</h2>
							<p>{{des_contacto}}</p>
							<div class="split style1">
								<section>
									<form method="post" action="/contacto">
										<div class="fields">
											<div class="field half">
												<label for="name">{{nombre}}</label>
												<input type="text" name="name" id="name" />
											</div>
											<div class="field half">
												<label for="email">{{email}}</label>
												<input type="email" name="email" id="email" />
											</div>
											<div class="field">
												<label for="message">{{mensaje}}</label>
												<textarea name="message" id="message" rows="5"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><input type="submit" value={{send}}/></li>
										</ul>
									</form>
								</section>
								<section>
									<ul class="contact">
										<li>
											<h3>{{email}}</h3>
											<a href="mailto:{{des_email}}">{{des_email}}</a>
										</li>
										<li>
											<br>
										</li>
										<li>
											<h3>{{RRSS}}</h3>
											<ul class="icons">
												<li><a href="{{link_twitter}}" class="fa-twitter"><span class="label">Twitter</span></a></li>
												<li><a href="{{link_facebook}}" class="fa-facebook"><span class="label">Facebook</span></a></li>
												<li><a href="{{link_instagram}}" class="fa-instagram"><span class="label">Instagram</span></a></li>
											</ul>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>
				{{/with}}
			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/customized.js"></script>
			{{#each scripts}}
			<script src=".{{script}}"></script>
			{{/each}}
	</body>
</html>